@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/functions";

@import "base/base";
@import "base/animations";
@import "base/typograpgy";
@import "base/utilities";

@import "pages/home";

@import "components/button";
@import "components/composition";
@import "components/feature-box";
@import "components/story";
@import "components/card";
@import "components/bg-video";
@import "components/form";
@import "components/popup";

@import "layout/header";
@import "layout/footer";
@import "layout/grid";
@import "layout/navigation";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

}

html {
  // defination of rem
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

  //@include respond(phone) {
  //  font-size: 50%; // 1rem = 8px; 8px/16px = 50%
  //}
  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px; 9px/16px = 50%
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px; 8px/16px = 50%
  }


  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px; 12px/16px = 75%
  }
}

body {
  box-sizing: border-box;
}
