@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/functions";

@import "base/base";
@import "base/animations";
@import "base/typograpgy";
@import "base/utilities";

@import "pages/home";

@import "components/button";
@import "components/composition";
@import "components/feature-box";
@import "components/story";
@import "components/card";
@import "components/bg-video";
@import "components/form";
@import "components/popup";

@import "layout/header";
@import "layout/footer";
@import "layout/grid";
@import "layout/navigation";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

}

html {
  // defination of rem
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
